body {
    margin:0;
    padding:0;
}

.back-fon {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 85%;
    min-height: 100vh;
    align-items: center;
    background-color: #3195F3;
    opacity: 79%;
}

.blank-page {
    padding:3%;
    background-color: #FCFCFC;
    width: 85%;
    margin-top: auto;
    flex-wrap: wrap;
    border-radius: 2em 2em 0 0 ;
}

.Instuct {
    display: flex;
    justify-content: center;
    color: #00384C;
    font-weight: bolder;
    font-size: 1.76em;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.row-set {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 2em;
}

.row-name {
    color: #00384C;
    font-weight: bold;
    font-size: 1em;
    padding: 0.2em;
}

.etap1 {
    display: flex;
    color:#FCFCFC;
    font-weight: bold;
    font-style: italic;
    padding-top: 2em;
}

.projects-create {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3em;
}

.right {
    order:2;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap:wrap;
    max-width: 100%;
}
.projects-more {
    background-color: #FCFCFC;
    border-radius: 0.3em;
    padding: 0.3em;
    margin: 1em;
}

.result-project {
    border-radius: 0.3em;
    padding: 0.3em;
    background-color: green;
    color:#FCFCFC;
}

.form-auth {
    width: 50%; 
    height: 50%;
    background-color: #FCFCFC;
    padding: 2em;
    border-radius: 1em;
    margin-top: 5%;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.auth-input {
    font-size: 1em;
    border: none;
    text-align:10px;
    -webkit-appearance: none;
    margin-bottom: 0.3em;
    margin-top: 2em;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgba(199, 195, 195, 0.179);
    padding: 0.3em;
    font-style: italic;
    border-radius: 0.3em;
    width: 99%;
    outline: none;
    color: black; 
}

.submit-button {
    background-color: #00384C;
    color:#FCFCFC; 
    width: 13em; 
    height: 2em;
    border-radius: 0.3em;
    text-align: center;
    margin-top: 5%;
    cursor: pointer;
}

.auth-text {
    display: flex;
    color:#00384C;
    font-weight: bolder;
    font-size: larger;
}

.choose-way {
    color:#1093c3b2;
    font-weight: bolder;
    font-size: small;
    cursor: pointer;
}

.description-team {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: justify;
    display: flex;
    width: 59%;
    color: white; 
    font-size: 1em;
}

.button-reg {
    margin-top: 1em;
    color:#FCFCFC;
    background-color: green;
    padding: 0.3em 0.9em 0.3em 0.9em;
    border-radius: 0.3em;
}