.user-email {
    color: white;
    font-size: 1em;
    margin:0;
    padding: 0;
    display: flex; 
    justify-content: center;
}

.icon-content {
    position: absolute;
    top: 110%;
    z-index:999;   /* overlay */
    left:0;
    background: #fff;
    box-shadow: 2px 2px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color:#333;
    width:100%;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
}

.icon-menu {
    width:15%;
    user-select: none;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.icon-content {
    padding:0.8em;
    background: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.06);
    color:#333;
    display: flex;
}

.icon-item {
    display: flex;
    padding:5px;
    padding: 5px;
}

.icon-item:hover{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.06) 100%);
    background-clip: padding-box;
}